---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="jumbotron">
  <h1 class="display-3">Java</h1>
  <p class="lead"></p>
  <hr class="my-2">
  <p>Practice makes perfect.</p>
  <p class="lead">
    
  </p>
</div>