---
layout: layouts/home.njk
permalink: /JavaWeb/
eleventyNavigation:
  key: Servlets JSP
  order: 3
---

<h2>Servlets/JSP</h2>

{% set postslist = collections.servletjsp %}
{% include "postslist.njk" %}

